.faq-section {
    max-width: 1400px;
    margin: 2rem auto;
    padding: 2rem;
    margin-top: 35px;
}

.title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1.5rem;
    text-align: center;
    margin-top: 35px;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    background-color: #f7f7f7;
    transition: background-color 0.3s;
    border-radius: 8px;
    margin-bottom: 10px;
}

.accordion-header:hover {
    background-color: #e7e7e7;
}

.indicator {
    font-size: 1.5rem;
}